.error__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('../../assets/bcg.png');
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.error__page_title > h1 {
    margin-top: 150px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    text-align: center;

    color: #FFFFFF;
}

.error__page_title > h2 {
    padding-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    text-align: center;
    text-transform: uppercase;

    color: #BABABA;
}

.error_info > h3 {
    padding-top: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #DEDEDE;
}

.error_info > h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.error_footer {
    width: 432px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #00BA2C;

    margin-top: 50px;
}

@media (max-width: 391px) {
    .error__page_title > h1 {
        margin-top: 50px;
        font-size: 30px;
        line-height: 40px;
        width: 300px;
    }

    .error__page_title > h2 {
        font-size: 20px;
        line-height: 30px;
        padding-top: 40px;
        width: 300px;
    }

    .error_info > h3 {
        padding-top: 40px;
    }

    .error_info > h4 {
        width: 300px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 15px;
    }

    .error_footer {
        margin-top: 30px;
        font-size: 18px;
        width: 300px;
    }
}

@media (max-width: 412px) {
    .error__page_title > h1 {
        margin-top: 50px;
        font-size: 30px;
        line-height: 40px;
        width: 300px;
    }

    .error__page_title > h2 {
        font-size: 20px;
        line-height: 30px;
        padding-top: 40px;
        width: 300px;
    }

    .error_info > h3 {
        padding-top: 40px;
    }

    .error_info > h4 {
        width: 300px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 15px;
    }

    .error_footer {
        margin-top: 30px;
        font-size: 18px;
        width: 300px;
    }
}