.success__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: url('../../assets//bcg.png');
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.success__page_title > h1 {
    margin-top: 150px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #FFFFFF;

    width: 1320px;
}

.success__page_title > h2 {
    padding-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    text-transform: uppercase;

    color: #BABABA;
}

.success_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success_info > h3 {
    padding-top: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #DEDEDE;
}

.success_info > img {
    height: 56px;
    margin: 24px;
}

.success_info > h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.success_info > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success_info > form > button {
    cursor: pointer;
    width: 432px;
    padding: 19px 16px;
    background: #00BA2C;
    border: none;
    border-radius: 16px;

    margin-top: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;
}

.success_footer {
    width: 432px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #00BA2C;

    margin-top: 50px;
}

@media (max-width: 390px) {
    .success__page_title > h1 {
        margin-top: 150px;
        font-size: 28px;
        line-height: 40px;
        width: 300px;
    }

    .success__page_title > h2 {
        font-size: 18px;
        line-height: 30px;
        padding-top: 20px;
        width: 300px;
    }

    .success_info > h3 {
        padding-top: 20px;
    }

    .success_info > img {
        height: 40px;
    }

    .success_info > h4 {
        width: 300px;
        font-size: 14px;
    }

    .success_info > form > button {
        width: 300px;
        font-size: 14px;
        margin-top: 25px;
    }

    .success_footer {
        margin-top: 30px;
        font-size: 18px;
        width: 300px;
    }
}

@media (max-width: 412px) {
    .success__page_title > h1 {
        margin-top: 150px;
        font-size: 28px;
        line-height: 40px;
        width: 300px;
    }

    .success__page_title > h2 {
        font-size: 18px;
        line-height: 30px;
        padding-top: 20px;
        width: 300px;
    }

    .success_info > h3 {
        padding-top: 20px;
    }

    .success_info > img {
        height: 40px;
    }

    .success_info > h4 {
        width: 300px;
        font-size: 14px;
    }

    .success_info > form > button {
        width: 300px;
        font-size: 14px;
        margin-top: 25px;
    }

    .success_footer {
        margin-top: 30px;
        font-size: 18px;
        width: 300px;
    }
}