.main__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('../../assets/bcg.png');
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.main__page_title > h1 {
    margin-top: 150px;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    text-align: center;

    color: #FFFFFF;
}

.main__page_title > h2 {
    padding-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    text-align: center;
    text-transform: uppercase;

    color: #BABABA;
}

.senddata__main_form {
    display: flex;
    flex-direction: column;
}

.senddata__main_form > h2 {
    width: 432px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    padding-bottom: 15px;

    text-align: center;
    
    color: #DEDEDE;
}

.senddata__main_form > input {
    width: 432px;
    padding: 19px 16px;
    padding-left: 16px;

    margin-top: 24px;
    outline: none;
    background: #1C1C1C;

    border: 1px solid #404040;
    border-radius: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #9C9C9C;
}

.senddata__main_form > button {
    cursor: pointer;
    width: 432px;
    padding: 19px 16px;
    background: #00BA2C;
    border: none;
    border-radius: 16px;

    margin-top: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #FFFFFF;
}

.senddata__main_form > .error {
    color: red;

    font-size: 14px;
    font-weight: 300;

    padding-top: 3px;

    margin-left: 20px;
}

.footer {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #00BA2C;

    margin-top: 50px;
}